@{
    int id = (int)ViewData["id"]; 
}

<html>
    <meta>
    <head>

    </head>
   <body>
    <form action="/home/EditEmployee" method="post">
      <div align="left">
           <input type="hidden" name="id" id="id" value="@id"/>
       First name :  <input type="text" name="fname" id="fname" required="true" placeholder="Enter first name"/><br><br>
       Last name  :  <input type="text" name="lname" id="lname" required="true" placeholder="Enter last name"/><br><br>
       Date of Birth  :  <input type="text" name="dob" id="dob" required="true" placeholder="dd/mm/yyyy"/><br><br>
       <select name="gender" id="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="o">Others</option>
       </select><br><br>
     Joining Date  :  <input type="text" name="jdate" id="jdate" required="true" placeholder="dd/mm/yyyy"/><br><br>
     Ending Date  :  <input type="text" name="edate" id="edate" required="true" placeholder="dd/mm/yyyy"/><br><br>
     Salary       :  <input type="number" name ="salary" id="salary" required="true" placeholder="$0000000"/><br><br>
     <button type="submit" name="btn" id="btn">Submit</button> &nbsp;
     <button type="reset" name="btn1" id="btn1">Cancel</button>
      </div>
    
    
    </form>
   </body>

</html>